div.item {
  background: var(--blue);
  padding: 20px;
  font-size: 1.2em;
  font-weight: 900;
  color: #eee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.grid-container {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "banner"
    "main"
    "sidebar"
    "footer";
}

@media screen and (min-width: 650px) {
  .grid-container {
    grid-template-areas:
      "header header header "
      "banner banner banner"
      "sidebar main main"
      "footer footer footer";
  }
  .item-1 {
    grid-area: header;
  }

  .item-2 {
    grid-area: banner;
  }

  .item-3 {
    grid-area: sidebar;
  }

  .item-4 {
    grid-area: main;
  }

  .item-5 {
    grid-area: footer;
  }
}

@media screen and (min-width: 900px) {
  .grid-container {
    grid-template-areas:
      "header header header header"
      "banner banner banner banner"
      "sidebar main main main"
      ". footer footer .";
  }
}
